/* CSS Styles for pages using [stepwise-button ] shortcode
  */

 div.stepwise-progress-bar {
   background: red;
   height: 1em;
 }
 div.stepwise-progress-complete {
   background: pink;
   height: 100%;
 }
